#! /bin/sh  -x
#
ORACLE_HOME="{{ oracle_home }}"


#make sure this shell is ran under user "oracle"
if [ $(whoami) != '{{ oracle_user }}' ]; then
  echo "Must be oracle to start/stop the database!"
  exit -1;
fi

case $1 in
'start')
  echo -n $"Starting Oracle Database ..."
  $ORACLE_HOME/bin/dbstart $ORACLE_HOME
  echo 'STARTUP;' | {{ oracle_home }}/bin/sqlplus / as sysdba
  $ORACLE_HOME/bin/lsnrctl start
  ;;
'stop')
  echo -n $"Stopping Oracle Database:"
  $ORACLE_HOME/bin/lsnrctl stop
  echo 'SHUTDOWN IMMEDIATE;' | {{ oracle_home }}/bin/sqlplus / as sysdba
  $ORACLE_HOME/bin/dbshut $ORACLE_HOME
  ;;
'restart')
   $0 stop
   $0 start
   ;;
*)
  echo "usage: $0 {start|stop|restart}"
  exit
  ;;
esac
#
exit
